/* Components
------------------------------------------------------------*/

.c-picture {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  padding-bottom: 100%;
  background: transparent;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    mix-blend-mode: multiply;
  }
}
