/* variables
------------------------------------------------------------*/

:root {
  --app-height: 100vh;
  --menu-height: 100vh;

  --jp-fonts: "Noto Sans JP", sans-serif;
  --en-fonts: "Montserrat", sans-serif;

  --p: min(100px, 6.944vw);
  --p-sp: 25px;

  --main-bg-cl: #fff;
  --main-text-cl: #000;
  --black-cl: #000;
  --white-cl: #fff;
}
